:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --page-color: #f9f8fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--page-color);
  margin: 60px auto;
  max-width: 100;
  display: block;
}

.body-wrap {
  margin-top: 50px;
  background: var (var(--page-color));
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  text-align: center;
  padding: 20px 20px;
  color: #000;
  margin-top: 10vh;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: "Fira Mono", monospace;
}

h2 {
  font-size: 28px;
  font-family: "Fira Mono", monospace;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: "Fira Mono", monospace;
}

p {
  font-family: "Fira Code", monospace;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  margin-top: 150px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
  border-radius: 4px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 35px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: #b9b562;
  box-shadow: var(--box-shadow);
  color: #37161f;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-paragraph {
  line-height: 40px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.social-links a {
  color: #37161f;
  border-radius: 50%;
}

.mb-3 {
  margin-top: 50px;
  font-size: 48px;
}

.mt-5 {
  margin-bottom: 3rem !important;
}

@media (max-width: 700px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  body {
    text-align: center;
  }

  p {
    font-size: 14px;
  }
}
